/* Header Box */
.header-box {
  border-width: 10px 0 0;
  border-top-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.header-container:first-child {
  border-bottom: 1px solid #000;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo .logo {
  font-size: 2rem;
  padding-right: 1rem;
}
.header-nav {
  font-weight: 600;
}
.header-nav ul {
  display: flex;
  list-style: none;
}
.header-nav ul li {
  padding: 0.3rem;
}
.header-nav ul li a {
  padding: 1rem;
}

/* Search Box */
/* Logo */
.search-logo {
  margin-top: 0.8rem;
}
.search-logo svg {
  width: 7rem;
}
/* Input */
.search-bar {
  margin: 0 2rem;
  display: flex;
  flex-grow: 1;
}
.search-input {
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #f2f2f2;
}
.search-input .input {
  display: flex;
  align-items: center;
}
.search-input .input span {
  display: block;
  padding: 0 2rem;
}
.search-input .input input {
  height: 40px;
  background: none;
  border: none;
}
.search-bar button {
  padding: 0.8rem 3.2rem;
  background-color: #231f20;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #fff;
}
/* Sign */
.search-sign {
}
.sign-up {
  margin-right: 2rem;
  padding: 1.3rem 2.8rem;
  border: 1px solid #ccc;
  font-weight: bold;
}
.sign-up:hover {
  color: #ccc;
}
